@model erudite.Models.TeacherBioData
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Thanks</title>
</head>
<body>
    <div> 
        thank you @Model.name for your response

    </div>
</body>
</html>
