
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="~/Content/Teachers/teachingCategory.css" />
</head>
<body>
    <div class="container">
        <nav>
            </nav>
        <div class="image-container">
            <img src="~/Image/image/sharon-mccutcheon-eMP4sYPJ9x0-unsplash.jpg">
            <div id='section'>
                <div class="caption">
                    <p>
                        <span class="cambria">Teacher</span><span class="cursive"> encourage</span><span class="cambria"> minds to</span>
                        <span class="cursive"> think</span><span class="cambria"> hands to</span><span class="cursive"> create</span><span class="cursive-white"> &</span>
                        <span class="cursive"> hearts</span><span class="cambria"> to love</span>
                    </p>
                </div>
                <div class="teachingapply-link">
                    <a href="@Url.Action("InstituteAreas","TeacherApplication")">Institutes Vacancy</a>
                    <span style="color: white; font-size: 2em; ">|</span>
                    <a href="Categories/pointTeachers.html">Home Tution</a>
                </div>
            </div>
        </div>

    </div>
</body>
</html>

